@use"base/reset";
@use"components/header";
@use"base/main";
@use"pages/index";
@use"pages/curiosidades";
@use"pages/quienessomos";
@use"pages/historia";
@use"pages/perosonajes";
@use"components/footer";
@use"base/queries";




