@use "base/reset";
@use "base/variables";
@use "utilities/mixin" as m;
@use "utilities/extend";



@use "base/main";
@use "base/queries";


@use "components/header";
@use "components/footer";


@use "pages/index";
@use "pages/curiosidades";
@use "pages/quienessomos";
@use "pages/historia";
@use "pages/personajes";

