/* curiosidades  */
.curiosidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  border: 1px solid #8bc0e0;

  article {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
