@use "../utilities/mixin" as m;


#contendor {
  max-width: 100%;
  max-height: fit-content;
  margin: auto;
  background-color: #fff
}

.card {
  @include m.card-base;

  h3 {
    text-align: center;
    padding: 16px;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 16px;
  }
}



#grilla-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  border: 1px #8bc0e0 solid;
}



.card-2 {
  background-color: #f5f5f5;
  overflow: hidden;
  text-align: center;
  border: 1px #d3ebfd solid;
  padding: 16px;
  position: relative;
  transition: transform 0.3s ease;

  img {
    width: 100%;
    height: auto;
    display: block;
    padding: 8px;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(127, 232, 255);
    opacity: 0;
  }

  &:hover {
    transform: scale(1.1);

    &:hover::after {
      opacity: 0.2;
      cursor: pointer;
    }
  }
}