
#perfil {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  width: 100%;
  border: 1px solid #8bc0e0;

  .autor {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;

    p {
      padding: 0;
    }
  }
}
