%main-base {
    max-width: 1280px;
    width: 100%;
    margin-bottom: 32px;
    gap: 16px;
}

%main-parrafo {
    padding: 16px;
}

%main-titulo {
    padding-bottom: 8px;
    margin: 16px 0;
    border-bottom: #000000 1px solid;
}