@media (max-width: 991px) {


    header .hamburguesa {
        display: block;
    }

    header nav {
        display: none;
    }

    .top-bar {
        align-items: center;
        gap: 16px;
    }

    .top-bar p {
        display: none;
    }

    /* Grilla 1 */
    #grilla-1 {
        grid-template-columns: 1fr;
    }

    /* Personajes */
    .personajes {
        flex-direction: column;
        gap: 12px;
    }

    .personajes div,
    .personajes p {
        width: 100%;
        text-align: center;
    }

    /* Perfil */
    #perfil {
        grid-template-columns: 1fr;
        gap: 12px;
    }

    .autor {
        padding: 12px;
        text-align: center;
    }

    .autor img {
        max-width: 350px;
        height: auto;
        margin: 0 auto;
    }

    /* Footer */
    footer {
        flex-direction: column;
        align-items: center;
        padding: 12px;
        text-align: center;
        max-height: none;
    }

    footer h2,
    footer p,
    footer nav {
        width: 100%;
        padding: 8px 0;
        text-align: center;
    }

    .social-links ul {
        justify-content: center;
        gap: 12px;
    }

    aside {
        display: none;
    }
}


@media (max-width: 576px) {

    body {
        font-size: 14px;
    }

    header .hamburguesa {
        display: block;
    }

    header nav {
        display: none;
    }

    .top-bar p {
        display: none;
    }


    #grilla-1 {
        grid-template-columns: 1fr;
    }


    .card-2 {
        width: 100%;
    }


    .personajes img {
        width: 120px;
        height: auto;
    }

    #perfil {
        grid-template-columns: 1fr;
        gap: 8px;
        border: none;
    }

    .autor {
        padding: 8px;
        border: 0.5px solid #8bc0e0;
        margin: 8px;
    }

    .autor img {
        max-width: 250px;
    }

    .historia1 img {
        width: 70%;
    }


    footer {
        padding: 8px;
    }

    footer h2,
    footer p,
    footer nav {
        padding: 4px 0;
        font-size: 1rem;
        text-align: center;
    }

    .social-links ul {
        gap: 8px;
        justify-content: center;
    }


}