/* main */
main {
  max-width: 1280px;
  width: 100%;
  margin-bottom: 32px;
  gap: 16px;

  p {
    padding: 16px;
  }

  h2 {
    padding-bottom: 8px;
    margin: 16px 0;
    border-bottom: #000000 1px solid;
  }
}
