* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1280px;
  width: 100%;

  margin: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: #efefef;
}
